
body{font-family: Verdana, Helvetica, Arial, sans-serif;font-size: small;line-height: 1.6em;color:black}
p.introduction{text-align: left;}
h1,h2{color: #007e7e;}
h1{font-size: 150%;}
h2{font-size: 130%;}

em{font-family: serif;}
a{font-size:large;}
p.greenTea{color:green;}
p.raspBerry{color:aqua;}
p.blueBerry{color:purple;}
p.cranBerry{color:red;}