
body{font-family:sans-serif;}
p{color:maroon;}
h1,h2{color:gray;}
h1{border-bottom: 1px solid black;}
em{font-family: serif;}
a{font-size:large;}
p.greenTea{color:green;}
p.raspBerry{color:aqua;}
p.blueBerry{color:purple;}
p.cranBerry{color:red;}
